extends layout

block content
  h1= Messages
  p Welcome to my #{title}
  div(class='container')
    each val in messages
      ul
        li= val.user 
        li= val.text 
        li= val.added
  a(href="/new") Make a message! 

    
